<div>
  <ul class="nav nav-tabs">
    <li role="presentation" class="nav-item">
      <a class="nav-link" routerLink="/home" routerLinkActive="active">
        ALL CATOGARIES &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      </a>
    </li>
    <li role="presentation" class="nav-item">
      <a
        class="nav-link"
        routerLink="/productCategory/1"
        routerLinkActive="active"
      >
        Category 1
      </a>
    </li>
    <li role="presentation" class="nav-item">
      <a
        class="nav-link"
        routerLink="/productCategory/2"
        routerLinkActive="active"
      >
        Category 2
      </a>
    </li>
    <li role="presentation" class="nav-item">
      <a
        class="nav-link"
        routerLink="/productCategory/3"
        routerLinkActive="active"
      >
        Category 3
      </a>
    </li>
  </ul>
</div>
